body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #BAD1CD;
}

.site-title {
    color: #033860;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
  }

.hobbies {
    list-style-type: square;
  }

.hobbies li:nth-child(odd) {
    background: #E7E247;
  }

  ul.bullets {
    list-style-type: none;
  }