body{
    background-color:#aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 75%;
    margin: auto;
    margin-top: 0;
    background-color:#cbf7f2;
    position: ;
}

.container {
    position: relative;
}

.header1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}


.himage {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.pimage {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
    font-size: small;
}


.navigation {
    text-align: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    display: flex;
    font-weight: 600;
}

.navigation li {
    width: 33%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation li:nth-child(-n+2) {
    border-right: 1px solid black;
  }

h2 {
    font-size: 28px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0px 20px 10px;
}

footer {
    text-align: right;
    padding: 20px;
    font-size: small;
}

