/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.body1 {
    padding-left: 5px;
    padding-right: 5px;
}

header { 
    border: 10px solid #222;

}

.logo {
    background-color: #c78c06 ;
}

li:first-child a {
    color: #222;
}

li:first-child {
    background-color: #c78c06;
}

ul li {
    padding: 20px;
}
 
ul li a {
    text-decoration: none;
    color: #c78c06;
}

ul {
    background-color: #222;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 100%;
    border: 0;
    margin: 8px;
}

.fa-magnifying-glass {
    color: #c78c06;
    background-color: #222;
    padding: 8px;
    border-top: 1px solid #c78c06;
    border-right: 1px solid #c78c06;
    border-bottom: 1px solid #c78c06;
}

.home {
    position: relative;
}

.home img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
.home-wrapper {
    position: relative;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  
.h-wrapper h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 1.5;
  }

.h-wrapper p {
    color: white;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-wrapper button {
    background-color: #c78c06;
    border: 0;
    padding: 25px;
    font-size: 18px;
}

.h-wrapper {
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

.about-us {
    background-color: #ffe6ac;
    padding: 5px;
}

.about-us img {
    width: 100%;
    height: 38%;
 }

.wrapper-aboutus h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
  }

.wrapper-aboutus p {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper-service {
    background-color: white;
}

.wrapper-service h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
    padding-top: 10px;
}

.info {
    padding: 5px;
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

nav {
    display: block;
}

.services img {
    width: 100%;
}

.info h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

.info p {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info button {
    background-color: #222;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 15px;
}

.vision {
    position: relative;
}

.vision img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.wrapper-vision {
    position: relative;
    margin-top: 10px;
    padding: 5px;
}

.wrapper-vision h3 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

.wrapper-vision p {
    color: white;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper-vision button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid #c78c06;
    padding: 20px;
    font-size: 15px;
}

.body2 {
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper-team h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
    padding-top: 10px;
}

.info {
    padding: 5px;
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

.team img {
    width: 100%;
}

.teaminfo {
    padding: 5px;
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

.teaminfo h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

.teaminfo p {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teaminfo div {
    border-bottom: 1px solid #c78c06;
    font-weight: bold;
    font-size: 15px;
}

.wrapper-form h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
    padding-top: 10px;
}

.form h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form input[id="full-name"], input[id="email"] {
    width: 100%; 
}

.form textarea[id="message"] {
    width: 100%;
    height: 100px;
    resize: none;
}

input[type="submit"] { 
    margin-top: 10px;
    padding: 5px;
    border: 0;
    background-color: #222 ;
    color: #c78c06;
}

.hours h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    font-size: small;
}

tr:first-child {
    background-color: #ffe6ac;
}

tr:first-child td {
    text-align: center;
}

.location h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

.location iframe {
    width: 100%;
    height: 400px;
}

footer{
    background-color: #222 ;
    padding: 10px;
    margin-top: 10px;
}

.footer {
    padding-top: 10px;
    color: #c78c06;
    line-height: 2;
    font-size: small;
}

.footer a {
    text-decoration: none;
    color: #c78c06;
}


@media screen and (min-width: 760px) {

    header { 
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #222;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    ul {
        margin: 15px;
        display: flex;
    }

    .logo {
        background-color: #222 ;
        margin: 0%;
    }

    .search input {
        width: 15vw;
        margin: 0px;
        padding: 8px;

    }

    ul li {
        padding: 20px;
    }

    .h-wrapper {
        width: 80%;
        margin: auto;
    }

    .about-us img {
        float: left;
        margin-right: 10px;
        width: 400px;
    }

    .about-us {
        background-color: #ffe6ac;
        padding-top: 10px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 4%;
    }

    .wrapper-aboutus {
        margin: 10px;
    }

    .wrapper-services {
        clear: both;
    }  

    .wrapper-service {
        width: 70%;
        margin: auto;
    }

    .info {
        margin-bottom: 5px;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
      
    .services nav:nth-child(-n + 2) {
        grid-row: 1 / 2;
        grid-column: span 3;
    }
      
    .services nav:nth-child(n + 3) {
        grid-row: 2 / 3;
        grid-column: span 2;
    }

    .vision {
        overflow: hidden;
    }

    .vision img {
        height: 400px;
        width: 100%;
    }
    
    .wrapper-vision {
        width: 70%;
        margin: auto;
    }

    .wrapper-team {
        width: 70%;
        margin: auto;
    }

    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
      
    .team nav:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
      
    .team nav:nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .teaminfo {
        margin: 0;
    }

    .wrapper-form {
        width: 70%;
        margin: auto;
    }

    .location iframe {
        width: 100%;
        height: 300px;
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
      
    .hours {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
      
      location {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer{
        width: 70%;
        margin: auto;
    }
}